@charset "utf-8";
body,nav,ul,button{margin:0;padding:0;}
html{
    scroll-behavior: smooth;
}
/*
tag: nothing
class: .
id: #
*/
.header{
    /*height:290px;*/
    background-color: #333333;
}

#headerBGI{
    height: 1000px;
    width: 100%;
    background-image: url(../images/slide0.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;  /* for Webkit kernal browser such as Chrome和Safari */
    -o-background-size: cover;  /* for Opera */  
    padding:30px 0 75px 0;
}
ul{list-style:outside none none;}
a{text-decoration: none;}
*{box-sizing: border-box;margin: 0;padding: 0;}
.clearfix{
    clear: both;
}

.article_container{
    height:auto;
    width:80%;
    margin:0 auto;
}
.article_container h2{
    font-weight:normal;
    text-align: center;
    color:rgb(16, 17, 14);
    font-size: 40px;
    font-family: "arial";
    padding:50px 0 30px 0;
}
.article_container p{
    font-size: 20px;
    text-align: left;
    color:rgb(61, 65, 55);
}

.container{
    height:auto;
    /* width:1000px; */
    width: 75%;
    /* margin:0 auto; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 120px;
}
.container h2{
    font-weight:normal;
    text-align: center;
    color:rgb(16, 17, 14);
    font-size: 40px;
    font-family: "arial";
    padding:50px 0 30px 0;
}
.container h1{
    font-weight:normal;
    text-align: center;
    color:rgb(16, 17, 14);
    font-size: 25px;
    font-family: "arial";
    padding:1px 0 30px 0;
}
.container p{
    font-size: 20px;
    text-align: left;
    color:rgb(61, 65, 55);
}
.container .manual-button{
    padding:10px 220px 10px 0;
}
.container .manual-button li img{
    width: 100px;
    height: 70px;
    padding:10px 0 0 7px;
}

.footer{
    height:290px;
    background-color: #333333;
}
.footer .top{padding: 45px 0 0 0;display:block;float: left}
.footer .top figure{width:300px;float: left;}
.footer .top h4{color: #fff;font-size:26px;padding:0 0 10px;}
.footer .top li{line-height: 1.5;}
.footer .top p{
    font-size: 18px;
    line-height: 30px;
    color:#e2e0e0;
}
.footer .top a{
    color:#e0dede;
}
#input{width: 160px;height:40px;padding-left: 10px;float: left;background-color: #333333;color: #fff;border:1px solid #ffffff;}
#inputbtn{width: 40px;height:40px;float: left;background: url("../images/arrow.png") center no-repeat;border:1px solid #ffffff;border-left: none;}
.footer .bottom {
    color:#777777;      
    text-align:center;
    padding:250px 0 0 0;
}

.footer .bottom a{
    color:#777777;      
    text-align:center;
    padding:250px 0 0 0;
}

.footer img{
    opacity: 0.8;
    padding: 0 2px 0 0;
}
.footer img:hover{
    opacity: 1;
}
.footer li{
    display: inline;
}

/*blogs*/
.blogs{
    background: url("../images/bg.png");
    padding:40px 0 75px 0;
}
.blogs img{
    float: center;
    height: 400px;
    width: 400px;
}
.blogs p{
    text-align: left;
    line-height: 35px;
    padding:1px 0 75px 0;
}
.blogs iframe{
    float: right;
    width: 550px;
    height: 400px;
    padding:10px 20px 0 10px;
}

/*open source*/
.about{    
    overflow:hidden;
    width: 100%;
    /*background: url("../images/c1.png");*/
    background: url("../images/bg.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;  /* for Webkit kernal browser such as Chrome和Safari */
    -o-background-size: cover;  /* for Opera */     
    padding:15px 0 65px 0;
}
.profileimg{
    float: center;
    height: 450px;
    width: 420px;
    padding:0 0 0 0;
    border-radius: 50%;
    display: block; 
    margin: auto;
}

.about li{
    display: inline;
}

.about ul{
    width: 450px;
    padding: 50px 0 0 0;
    float: center;
    display: block; 
    margin: auto;
}

.about ul img{
    opacity: 0.7;
    /* width: 20%; */
    height: 30px;
}
.about ul img:hover{
    opacity: 1.0;
}

/* .profileimg:hover{
    height:500px;
    width: 450px;
} */

.about p{
    color:rgb(1, 1, 1);
    float: right;
    line-height: 35px;
    padding:0 0 10px 0;
}
.about h1{
    color:#d4d3d3;
}
.about h2{
    color:rgb(1, 1, 1);
}

.profile{    
    overflow:hidden;
    width: 100%;
    height: 700px;
    /*background: url("../images/c1.png");*/
    background: #ffffff;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;  /* for Webkit kernal browser such as Chrome和Safari */
    -o-background-size: cover;  /* for Opera */     
    padding:15px 0 65px 0;
}
.profile img{
    float: center;
    height: 450px;
    width: 270px;
    padding:0 0 0 0;
    /* border-radius: 50%; */
    display: block; 
    margin: auto;
}

.profile img:hover{
    height:480px;
    width: 300px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.news{    
    overflow:hidden;
    width: 100%;
    height: 700px;
    background: url("../images/bg.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;  /* for Webkit kernal browser such as Chrome和Safari */
    -o-background-size: cover;  /* for Opera */     
    padding:15px 0 65px 0;
}

.news ul{
    list-style-type: square;
    height: 480px;
    overflow-y: scroll;
}

.news li{
    float: left;
    margin-bottom: 20px;
    margin-left: 160px;   
    margin-right: 80px; 
    font-size: large;
}

/*slide*/
#prev{
    position: absolute;
    left: 260px;
    top: 350px;
}
#next{
    position: absolute;
    right: 30px;
    top: 350px;
}

/*scroll_top button*/
#scroll_top{
    position: fixed;
    cursor: pointer;
    opacity: 0.4;
    right: 50px;
    top: 600px;
    opacity: 0.5;
}

/*side bar*/
/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }

.sidenav li {
float: left;
margin: 0 10px;
padding: 6px 8px 6px 8px;
}
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    float: left;
  }

  /* On mouse-over */
.sidenav a:hover{
    color: #f1f1f1;
  }

  /* article sidenav, full height */
.asidenav {
    height: 100%;
    width: 100%;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 8%;
  }

.asidenav a {
    padding: 25px 8px 25px 8px;
    text-decoration: none;
    font-size: 25px;
    /* color: #fcde58; */
    color: #64e3e7;
    display: block;
    border: none;
    background: none;
    /* background-color: rgb(105, 49, 49); */
    background-color: rgb(65, 74, 116);
    width: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;
  }

  /* On mouse-over */
.asidenav a:hover{
    color: #f1f1f1;
    background-color: rgb(180, 163, 163);
  }

.asidenav h2{
    color:#fff;
    padding: 6px 8px 10px 8px;
}

/*search bar appearance*/
#list #search_bar{
    text-align: center;
    padding: 0 0 20px 0;
}
#list #search_text{
    font-size: 25px;
    width: 500px;
    padding: 10px 5px 10px 5px;
}

#list #search_button{
    background: url("../images/bg.jpg");
    cursor: pointer;
    font-size: 25px;
    padding: 10px 50px 10px 50px;
}

#list #result_bar p{
    color:#fff;
    padding: 0 0 0 10px;
}

#list iframe{
    background: url("../images/bg.png");
    width: 100%;
    height: 1200px;
    border: 0;
    padding: 0 0 10px 0;
}

@media(max-width: 1100px) {
    .sidenav{
        height: 100px;
        width: 100%;
    }

    #prev{
        left: 30px;
    }

    #scroll_top{
        display: none;
    }

    .container{
        width:95%;
        padding-left: 0px;
    }

    .about ul{
        width: 650px;
    }

    .about ul img{
        height: 40px;
    }
}